* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

.fullscreen-canvas-container {
    overflow: hidden;
}

.fullscreen-canvas {
    display: block;
}

.center-div {
    width: 100%;
    height: 100%;
}

.center-canvas {
    margin: 150px auto 0;
    display: block;
    border: 3px solid black;
    border-radius: 3px;
}
