body {
  padding: 30px;
  max-width: 500px;
  margin: 20px auto 300px;
}
.night-time {
  background-color: black;
}

#home-link {
  position: absolute;
  left: 20px;
  top: 20px;
}
.night-time #home-link {
  color: #3eb4ff;
}

.date {
  color: gray; /* TODO replace with brand color? */
}
.night-time .date {
  color: gray; /* make sure it isn't overridden */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 50px;
}

p, li, a {
  font-size: 1.2em;
}

a {
  display: block;
  margin: 10px 0;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 500px;
  max-height: 300px;
}

.night-time h1,
.night-time h2,
.night-time h3,
.night-time h4,
.night-time p,
.night-time li {
  color: white;
}

li {
    margin-top: .5em;
}
