/* Set some colors to be used throughout the page */
:root {
    --background-color: #E5DDC8;
    --pop-color: #DB1F48;
    --pop-color-dark: #700e23;
    --pop-color-light: #e73e63;
    --pop-color-dim: #b11638;
    --main-color: #004369;
    --secondary-color: #01949A;
}

/* Remove unnecessary padding and margin (might not be doing anything) */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    background-color: var(--main-color);
    padding: 50px 30px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 100px;
}

#title-box {
    color: var(--secondary-color);
    font-size: 2.5em;
    text-align: center;
}

#welcome-box {
    width: 600px;
    font-size: 1.3em;
    color: var(--secondary-color);
    text-align: justify;
    line-height: 1.5em;
}

header div h2, header div p {
    margin: 30px 0;
}

/* Navbar */

nav {
    height: 40px;
    background-color: var(--secondary-color);
    text-align: center;
}

nav a {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--main-color);
    height: 40px;
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
}

nav a:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

nav a:active {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.current-page {
    background-color: var(--background-color);
}

/* Projects */

#project-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#project-box div {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

#project-box div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

#project-box h2 {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#project-box img {
    width: 100%;
    display: block;
}

#project-box p {
    padding: 10px 20px 15px 20px;
    font-size: 1.2em;
    color: var(--secondary-color);
    background-color: var(--main-color);
}

/* Post page */

.post-container {
    max-width: 700px;
    margin: 100px auto;
}

.post-container p {
    font-size: 1.2em;
    margin: 20px;
}

/* Text content */

.highlight {
    padding: 5px;
    margin-left: 20px;
    border-radius: 3px;
    font-size: 1.1em;
}

/* Footer */

footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 20px;
}

footer a {
    color: var(--secondary-color);
}

footer a:hover {
    color: white;
}

/* Remove all formatting from the links */
#project-box a:hover, #project-box a:link, #project-box a:visited, #project-box a:active {
    text-decoration: none;
}
