body {
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}
.night-time {
  background-color: black;
}

.date {
  color: gray; /* TODO replace with brand color? */
}
.night-time .date {
  color: gray; /* make sure it isn't overridden */
}

p, li {
  font-size: 1.2em;
}

.night-time h1,
.night-time h2,
.night-time h3,
.night-time h4,
.night-time h5,
.night-time h6,
.night-time p,
.night-time li {
  color: white;
}

li {
    margin-top: .5em;
}
