* {
    margin: 0;
    padding: 0;
}

#container {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #222222;
    text-align: center;
    padding: 50px 0 20px;
}

.title {
    color: dimgray;
}

#navbar {
    margin: 20px 0 0;
    display: inline-block;
}

#navbar a:link, a:visited {
    background-color: #282828;
    padding: 5px;
    margin: 5px;
    border-left: 2px solid #303030;
    border-top: 2px solid #303030;
    border-right: 2px solid #202020;
    border-bottom: 2px solid #202020;
    border-radius: 6px;
    text-decoration: none;
    color: dimgray;
}

#navbar a:hover {
    background-color: #303030;
    padding: 5px;
    margin: 5px;
    border-left: 2px solid #383838;
    border-top: 2px solid #383838;
    border-right: 2px solid #282828;
    border-bottom: 2px solid #282828;
    border-radius: 5px;
    text-decoration: none;
    color: dimgray;
}

#navbar a:active {
    background-color: #202020;
    padding: 5px;
    margin: 5px;
    border-left: 2px solid #181818;
    border-top: 2px solid #181818;
    border-right: 2px solid #303030;
    border-bottom: 2px solid #303030;
    border-radius: 5px;
    text-decoration: none;
    color: dimgray;
}

#content {
    width: 600px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

#content {
    font-size: 1.2em;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.5em;
}

#content ul, ol {
    list-style-position: inside;
    margin-left: 30px;
    text-indent: 0;
}

#footer {
    /*background-color: green;*/
    width: 600px;
    margin: 20px auto 50px;
    border-top: 1px solid gray;
    padding: 20px;
    font-size: 0.6em;
    color: gray;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
    text-align: right;
}

#footer-center {
    text-align: center;
}






















