---
selectedTab: tags
title: Tags
layout: page
---

<h1>Tags &amp; Categories</h1>

{% for tag in site.tags %}
<h2>{{ tag[0] }}</h2>
<ul>
{% for post in tag[1] %}
<li>
<p>
<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a> ({{ post.categories[0] }})
</p>
<p>{{ post.excerpt }}</p>
</li>
{% endfor %}
</ul>
{% endfor %}

<h2>Untagged</h2>
<ul>
{% for post in site.posts %}
{% if post.tags == empty %}
<li>
<p>
<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a> ({{ post.categories[0] }})
</p>
<p>{{ post.excerpt }}</p>
{% endif %}
{% endfor %}
