<footer>
    <a href="{{ site.url }}/feed.xml">RSS</a>

    <!-- Retronaut webring -->
    <br>
    <p>
    <a href='https://webring.dinhe.net/prev/https://thomasm1248.github.io/'>Previous</a>
    Retronaut Webring
    <a href='https://webring.dinhe.net/next/https://thomasm1248.github.io/'>Next</a>
    </p>

    <!-- Bonki webring -->
    <div id="bonki-ring">
    <script type="text/javascript" src="https://bonkiscoolsite.neocities.org/bonkiring/bonkiring-widget.js"></script>
    </div>

</footer>
