<footer>
    <a href="{{ site.url }}/feed.xml">RSS</a>

    <!-- Retronaut webring -->
    <br>
    <p>
    <a href='https://webring.dinhe.net/prev/https://thomasm1248.github.io/'>Previous</a>
    Retronaut Webring
    <a href='https://webring.dinhe.net/next/https://thomasm1248.github.io/'>Next</a>
    </p>

    <!-- Bonki webring -->
    <div id="bonki-ring">
    <script type="text/javascript" src="https://bonkiscoolsite.neocities.org/bonkiring/bonkiring-widget.js"></script>
    </div>

    <!-- Loop ring -->
    <p>
        <a href="https://loop.graycot.dev/webring.html?action=prev"> &lt; </a>
        <a href="https://loop.graycot.dev/webring.html?action=list"> ... </a>
        <a href="https://loop.graycot.dev/webring.html?action=home"> Loop Ring </a>
        <a href="https://loop.graycot.dev/webring.html?action=rand"> ? </a>
        <a href="https://loop.graycot.dev/webring.html?action=next"> &gt; </a>
    </p>

</footer>
