<nav>
    <a href="/"{% if page.selectedTab and page.selectedTab == "all" %} class="current-page" {% endif %}>All
    </a><a href="/projects/"{% if page.selectedTab and page.selectedTab == "projects" %} class="current-page" {% endif %}>Projects
    </a><a href="/posts/"{% if page.selectedTab and page.selectedTab == "posts" %} class="current-page" {% endif %}>Posts
    </a><a href="/links/"{% if page.selectedTab and page.selectedTab == "links" %} class="current-page" {% endif %}>Links
    </a><a href="/tags.html"{% if page.selectedTab and page.selectedTab == "tags" %} class="current-page" {% endif %}>Tags
    </a><a href="/contact.html"{% if page.selectedTab and page.selectedTab == "contact" %} class="current-page" {% endif %}>Contact</a>
</nav>
