<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
    <script src="/scripts/masonry.pkgd.min.js"></script>
    <script>
        window.onload = function() {
            new Masonry(document.getElementById("project-box"), {itemSelector: '.grid-item', gutter: 20, fitWidth: true});
        }
    </script>
</head>
<body>
    {% include header.html %}
    {% include navbar.html %}
    <div id="project-box-container">
        <div class="grid" id="project-box" data-masonry='{ "itemSelector": ".grid-item", "gutter": 20, "fitWidth": true }'>
            {% for post in site.posts %}
                {% if page.filterCategory %}
                    {% for category in post.categories %}
                        {% if category == page.filterCategory %}
                            <div class="grid-item">
                                <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
                                    {% if post.thumbnail %}
                                    <img src="/assets/post-thumbnails/{{ post.thumbnail }}">
                                    {% endif %}
                                    <h2>{{ post.title }}</h2>
                                    <p>{{ post.excerpt }}</p>
                                </a>
                            </div>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="grid-item">
                        <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
                            {% if post.thumbnail %}
                            <img src="/assets/post-thumbnails/{{ post.thumbnail }}">
                            {% endif %}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.excerpt }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>

