---
layout: page
---

<style>
.page-body p:nth-child(3) {
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
}
</style>

<h1>{{page.title}}</h1>

{{ content }}

<!-- Comments -->
<a href="/contact.html" style="text-decoration: none;">
    <p style="text-align: center; padding: 10px; color: white; border-radius: 4px;" id="comment-box">Comment</p>
</a>
<style>
#comment-box {
    background-color: gray;
}
#comment-box:hover {
    color: white;
    background-color: #c9c9c9;
}
</style>
