<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
    <script src="/scripts/masonry.pkgd.min.js"></script>
    <script>
        window.onload = function() {
            new Masonry(document.getElementById("project-box"), {itemSelector: '.grid-item', gutter: 20, fitWidth: true});
        }
    </script>
</head>
<body>
    <div id="project-box-container">
        <div class="grid" id="project-box" data-masonry='{ "itemSelector": ".grid-item", "gutter": 20, "fitWidth": true }'>
            <div class="grid-item header-card">
                <a href="{{ site.url }}">
                    <h1 class="site-title">Thomas Mason</h1>
                </a>
            </div>
            <div class="grid-item header-card">
                <a href="/tags.html">
                    <h2>Tags &amp; Categories</h2>
                </a>
            </div>
            <div class="grid-item header-card">
                <a href="/contact.html">
                    <h2>Contact</h2>
                </a>
            </div>
            {% for post in site.posts %}
                <div class="grid-item">
                    <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
                        {% if post.thumbnail %}
                        <img src="/assets/post-thumbnails/{{ post.thumbnail }}">
                        {% endif %}
                        {%- assign paths = post.relative_path | split: '/' | last | split: '.md' | first | split: '-' -%}
                        {%- assign mytitle = "" -%}
                        {% for path in paths offset: 3 %}
                            {%- assign mytitle = mytitle | append: path | append: " " -%}
                        {% endfor %}
                        {%- assign mytitle = mytitle | strip -%}
                        <h2>{{ mytitle }}</h2>
                        {{ post.excerpt }}
                        <p class="card-type">{{ post.categories[0] }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>

