* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #73dd83;
}

#instructions {
	width: 400px;
	height: 400px;
	background-color: aliceblue;
	border: 3px solid red;
	border-radius: 10px;
	margin: 70px auto;
}
